@import '../../assets/scss/imports';

.dashPod {
    background-color: $primary;
    border-radius: 5px;
    overflow: hidden;
    @include boxShadow;
    margin-bottom: 20px;

    h2 {
        margin-left: 20px;
    }
}

.left {
    grid-column: 1/3;
}

.right {
    grid-column: 3;
}