@import '../../assets/scss/imports';

.snapCourses {

    position: relative;

    &_image {
        width: 100%;
        background-image: url(../../assets/images/sales.jpg);
        background-size: cover;
        background-position: bottom center;
        height: 260px;
    }

    &_banner {
        position: absolute;
        width: 80%;
        height: 60px;
        bottom: 20px;
        left: 10%;
        border-radius: 5px;
        background-color: $primaryAlpha;
        display: grid;
        grid-template-columns: auto 100px;
        align-items: center;
        padding-right: 20px;

        &_text {
            margin-left: 20px;
        }
    }
    
    
}