@import '../../assets/scss/imports';

.button {
    padding: 0px 20px;
    height: 32px;
    border-radius: 16px;
    border: solid 2px;
    color: #ffffff;
    cursor: pointer;
    font-weight: 600;
    @include roboto;

}